_path-image = '../../image'

$color-bg = #000
$color-white = #FFF

@import 'part/helper.styl'


@import 'part/reset.styl'

// 標準コンポーネント
@import 'part/base.styl'

// ヘッダー
@import 'part/header.styl'

// フッター
@import 'part/footer.styl'
