path_image = '../image'
items = ('green' 'white' 'blue' 'gold' 'black' 'purple' 'yellow')

// ベース
body
html
  text-rendering optimizeLegibility !important
  -webkit-font-smoothing antialiased !important

@css {
  html {
    cursor: default;
    font-size: 6.25%;
  }
}

body
  font-min()

.br-sp
  display none
  db-xs()

a
  outline none
  text-decoration none
  transition opacity .3s
  &:focus
    outline 0
  &:hover
  &:focus
    opacity .5
    text-decoration none

.main
  margin-top 85px
  mt-sm 45px
  mt-xs 45px
  position relative
  z-index 1

.return-top
  width 1080px
  w-sm 90%
  position fixed
  text-align right
  right 0
  left 0
  bottom 30px
  margin 0 auto
  z-index 500
  transition all .5s
  pointer-events: none;
  a
    pointer-events: all;

  .scroll-top &
    opacity 0

  .scroll-bottom &
    transform translateY(-80px)
