*
  &
  &::before
  &::after
    border:0;
    margin:0;
    outline:0;
    padding:0;
    box-sizing:border-box;
    font:inherit;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    text-decoration:none;
    vertical-align:baseline;

main
article
section
header
footer
  display block

input
button
select
  appearance none
  background-color transparent

select
  &::-ms-expand
    display none

ol, ul, li
  list-style none

h1, h2, h3, h4, h5, h6
  clear both
  margin-top: 0;
  font-weight: normal;

a
button
label
  cursor pointer
