-
  var URL = 'http://vitabon.com'

  var SITE_NAME = 'vitabon'

  var PATH = {
    js: '/asset/js',
    image: '/asset/image',
    css: '/asset/css',
    lib: '/asset/lib',
  }

  var LINK = {
    top: '/',
    privacypolicy: '/privacypolicy.html',
  }

  var TITLE = {
    top: "",
    company: ""
  }

  var DESCRIPTION = {
    top: "",
    privacypolicy: ""
  }

  var KEYWORD = {
    top: "",
    privacypolicy: ""
  }

  // var OGP = ""

  // var GAUA = 'UA-000000-0'

  var ITEMS = [
    {
      code: "green",
      name: "ミント・メンソール",
      copy: "ユーカリの木とミントの豆から<br class='br-sp'>抽出した天然成分配合。<br>ミントの香りは精神的な緊張を<br class='br-sp'>和らげ、<br>イライラをしずめ、<br class='br-sp'>心身をリラックス",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "Eucalyptol",
          volume: "1000mcg"
        }
      }
    },
    {
      code: "white",
      name: "バニラ・​グリーンティー",
      copy: "バニラビーンズと天然ハーブエキス配合。<br>バニラの特徴的な甘い香りは、<br>怒りやフラストレーション、<br class='br-sp'>緊張を和らげ、幸せな気分に。",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "Valerian",
          volume: "1000mcg"
        }
      }
    },
    {
      code: "blue",
      name: "ジャスミン​・ローズ",
      copy: "松の木のエキスから抽出した<br class='br-sp'>テルペン成分配合。<br>ジャスミンの香りは、<br class='br-sp'>官能的な感情を呼び覚ます。<br>心にゆとりとバランスを。",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "Pinene",
          volume: "500mcg"
        }
      }
    },
    {
      code: "gold",
      name: "ミント・​チェリー",
      copy: "チェリーエキスに<br class='br-sp'>コラーゲンを配合。<br>チェリーのさわやかな香りと<br class='br-sp'>ミントの爽快感、<br>至福のひと時を。",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "Collagen",
          volume: "1000mcg"
        }
      }
    },
    {
      code: "black",
      name: "ジンセン・シナモン",
      copy: "ジンセンとシナモンから抽出した<br class='br-sp'>天然成分配合。<br>シナモンの香りは、<br class='br-sp'>ストレスを解消し、気力を回復。<br>気持ちを高めるのに効果的。",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "B-Caryophyllene",
          volume: "1000mcg"
        }
      }
    },
    {
      code: "purple",
      name: "ブルーベリー・​ブラックカシス",
      copy: "ブルーベリー系の果物から抽出した<br class='br-sp'>天然成分配合。<br>カシスは甘酸っぱい香りで、<br class='br-sp'>ゆったりとした気分に。<br>ほっと一息つきたい時などに。",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "B-Myrcene",
          volume: "1000mcg"
        }
      }
    },
    {
      code: "yellow",
      name: "オレンジ・グレープフルーツ",
      copy: "オレンジ系果物から抽出した<br class='br-sp'>天然成分配合。<br>オレンジとグレープフルーツの<br>爽やかな柑橘系の​香りで<br class='br-sp'>気分をリフレッシュ。",
      ingredients: {
        va: "1",
        vb1: "150",
        vc: "200",
        ve: "200",
        c10: "6",
        etc: {
          name: "D-Limonene",
          volume: "1000mcg"
        }
      }
    },
  ]

-
