-
  var URL = 'http://vitabon.com'

  var PATH = {
    js: '/asset/js',
    image: '/asset/image',
    css: '/asset/css',
    lib: '/asset/lib',
  }

  var LINK = {
    top: '/',
    privacypolicy: '/privacypolicy.html',
  }

  var TITLE = {
    top: "",
    company: ""
  }

  var DESCRIPTION = {
    top: "",
    privacypolicy: ""
  }

  var KEYWORD = {
    top: "",
    privacypolicy: ""
  }

  // var OGP = ""

  // var GAUA = 'UA-000000-0'

-
